* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'PPNeueMontral';
}

html {
  background-color: rgb(215, 216, 220);
}

#container {
  background-color: rgb(215, 216, 220);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@font-face {
  font-family: 'PPNeueMontral';
  src: url(../public/webfonts/PPNeueMontreal-Book\ copy.otf);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* ///////////////////// */
/* ////// NAVBAR /////// */
/* ///////////////////// */

#nav-container {
  width: 90vw;
  height: 100px;
  font-size: 1.5em;
  position: fixed;
  display: flex;
  justify-content: flex-end;
}

#diamond {
  position: fixed;
  height: 50px;
  top: 50px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin-top: 58px;
  margin-right: 2vw;
}

.nav-links li {
  padding: 0px 20px 0px 20px;
  letter-spacing: 1px;
  font-size: .9em;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0%;
}

#about:hover{
  cursor: pointer !important;
}

#projects:hover{
  cursor: pointer !important;
}


/* ///////////////////// */
/* /////// FRAME /////// */
/* ///////////////////// */

#scroll-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}


#frame {
  border: 1px solid rgb(0, 0, 0);
  width: 90vw;
  height: 80%;
  position: fixed;
  overflow: auto;
  
}


/* ///////////////////// */
/* //////// ONE //////// */
/* ///////////////////// */

#one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  height: 100%
}

#one-left-side {
  width: 45%;
}

#name {
  position: fixed;
  font-size: 2.3em;
  width: 254px;
  left: 12vw;
  top: 15vh;
  display: flex;
  justify-content: flex-start;
}

#title{
  position: fixed;
  font-size: 1em;
  text-align: right;
  width: 254px;
  left: 12vw;
  top: 41.5vh;
  /* padding-top: 10px; */
  letter-spacing: .1rem;
  display: flex;
  justify-content: flex-end;
}

#one-right-side {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}

#one h1{
  display: flex;
  margin-right: 5vw;
  font-size: 10vw;
  align-items: center;
}

.title-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.title-box :hover {
  cursor: pointer;
}

#shooting-star {
  width: 130px;
  margin-top: -4.5vh;
}

#dot-star {
  width: 80px;
  margin-top: -5.5vh;
  margin-right: .5vw;
}

#puffy-star {
  width: 60px;
  margin-top: -5vh;
  margin-right: .5vw;
}

/* ///////////////////// */
/* //////// TWO //////// */
/* ///////////////////// */

#two {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap-reverse;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 100%
}

#image-container {
  width: 45vw;
  padding-right: 5vw;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-container img {
  width: 35vw;
  height: 375px;
  border-radius: 150px;
  object-fit: cover;
}

#two h1 {
  height: 5vh;
  margin-bottom: 40px;
}

#two p {
  /* margin-bottom: 40px; */
}

#bio {
  width: 44vw;
  height: 70vh;
  padding-left: 7vw;
  padding-right: 5vw;
  margin-top: -0px;
  font-size: 1.2em;
  top: 1200px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

#bio div {
  display: flex;
  align-items: flex-end;
}

#btn-div {
  align-items: flex-start !important;
  margin-top: 30px;
  margin-bottom: 10px;
  justify-content: flex-end;
  height: 20px;
}

#bio button {
  width: 100px;
  height: 50px;
  margin-top: -40px;
  margin-right: 20px;
}

#language-stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}

#mi-languages {
  height: 20px;
}

#mi-stack {
  /* display: flex; */
  height: 60px;
  width: 470px;
  margin-left: -0px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

#stack-marquee {
  display: block;
  width: 200%;
  position: absolute;
  animation: marquee 20s linear infinite;
}

#stack-marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

span {
  float: left;
  width: 50%;
}

#my-languages {
  position: absolute;
  margin-top: 110vh;
  margin-left: 7vw;
}

#my-stack {
  position: absolute;
  margin-top: 45vh;
  margin-left: 5.9vw;
}

/* ///////////////////// */
/* /////// THREE /////// */
/* ///////////////////// */

#three {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: 100%
}

#some-projects-heading {
  position: absolute;
  margin-top: -250px;
  height: 10px;
}

#project-icon-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* #three div {
  width: 50%;
  height: 50%;
} */

/* .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
} */

/* .card-template {
  width: 450px !important;
  height: 300px !important;
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  /* width: 400px !important; */
  height: 100px !important;
}

.product-box h1 {
  font-size: 3em;
}

.logo-box {
  width: 100px !important;
  height: 100px !important;
  display: flex;
  justify-content: center;
}

.logo-box :hover {
  cursor: pointer;
}

.stack-box {
  display: none;
  justify-content: center;
  height: 100px !important;
  width: 300px !important;
  padding-top: 4em;
} 

.stack-icon {
  margin-left: 1em !important;
  /* display: inline-block; */
  float: left;
  transition: all .2s ease-out;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.vid-container {
  /* padding-left: 0vw; */
  width: 60vw;
  display: flex;
  justify-content: center;
}

.project-details {
  width: 40%;
  height: 70%;
  justify-content: center;
  align-items: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.project-details-description {
  display: flex;
  justify-content: flex-start;
  height: 20vh;
}

.project-details-buttons {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: space-around;
}

.project-details-buttons .btn {
  width: 100px;
}

.project-logo-box {
  width: 200px;
  height: 100px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-content: center;
  margin-top: 0vw;
}

.project-stack-box {
  justify-content: center;
  height: 50px;
  width: 250px;
} 

/* ///////////////////// */
/* //// SOUNDCACHE ///// */
/* ///////////////////// */

#soundcache-vid {
  width: 90%;
  margin-right: 0px !important;
}

.project-icon {
  margin-right: 5px;
  height: 50px;
}

#soundcache-title {
  /* margin-top: 7px; */
  height: 50px;
}


@media (max-width: 1100px) {

  #three {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .card-template {
    width: 300px !important;
    height: 150px !important;
  }

}

@media (max-width: 950px) {

  #two {
    justify-content: center;
  }

  #two h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #image-container {
    position: absolute;
    right: 0;
    padding-bottom: 0;
    height: 100px;
    margin-top: -375px;
    padding-left: 100px;
    /* align-self: flex-end; */
  }

  #image-container img {
    width: 300px;
    height: 250px;
  }

  #bio {
    width: 500px;
    height: 350px;
    margin-top: 100px;
    margin-right: 250px;
    font-size: 1em;
  }

  #btn-div {
    margin-top: 0;
    margin-bottom: 0;
  }

}


@media (max-width: 900px) {

  .the-box {
    width: 90vw;
    height: 30vh;
  }

  #shooting-star {
    width: 80px;
    margin-top: -2vh;
  }
  
  #dot-star {
    width: 50px;
    margin-top: -2.5vh;
    margin-right: 1.5vw;
  }
  
  #puffy-star {
    width: 40px;
    margin-top: -2.5vh;
    margin-right: 1.5vw;
  }

  #one h1{
    display: flex;
    margin-right: 5vw;
    font-size: 75px;
    align-items: center;
  }

  
}

@media (max-width: 875px) {

  #name {
    top: 55vh !important;
  }

  #title {
    top: 81vh !important;
  }

  #one-right-side {
    height: 50%;
  }

  #name {
    top: 40vh;
  }

  #title {
    top: 65vh;
  }

  #image-container {
    margin-top: -300px;
  }
  
}

@media (max-width: 750px) {
  #bio {
    margin-right: 0px;
    margin-top: 200px;
  }

  #btn-div {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 700px) {
  #image-container {
    margin-top: -400px;
    right: 125px;
  }

  #two h1 {
    display: none;
  }

  #image-container img {
    width: 200px;
    height: 200px;
  }

  #bio {
    width: 300px;
    margin-top: 200px;
  }

  #mi-stack {
    width: 250px;
  }
}



